/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}
/*HEADER*/
.logo img {
    width: 150px;
}

.header_nav {
    padding: 15px;
}

 .menu {
    list-style-type: none;
    padding-left: 0;
}

.header_nav .menu.central {
    padding-top: 6px;
}

.menu li {
    display: inline-block;
}

.header_nav .menu li a {
    text-decoration: none;
    color:#0e2454;
    padding: 0 7px;
    font-size: 12px;
}

.header_nav li button {
    color: #086fff;
    border-color: #086fff;
}

.burger {
    color:#086fff ;
}

/*FINE HEADER*/

/*MAIN*/

.jumbo {
    background-image: url(../img/ms-jumbo.jpg);
}

.teaser {
    color: white;
  
}

.teaser h1 {
    font-size: 45px;
}

.jumbo .wrapper {
    padding: 50px 0;
    
    margin: 0 auto;
}

.form_custom {
    
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.form_custom button {
    width: 100%;
    background-color: #579aff;
    border: none;
}

.form_custom span {
    color: #086fff;
    
}
.form_custom span:nth-child(1) {
    text-decoration: underline;
}


.form_custom button.google {
    margin: 10px 0;
    background-color: white;
    color: #767676;
    border: none;
    box-shadow: 1px 1px 1px #767676;
}

/*section:images*/

.images .menu li  {
    
    width: calc((100% / 6) - 6px);
    padding: 20px 0;
}

@media all and (max-width:480px) {
    .images .menu li  {
    
        width: calc((100% / 2) - 6px);
        padding: 20px 0;
    }
}

.images {
    background-color: #f3f5f9;
    text-align: center;
    padding: 25px 0;
}

.images h3 {
    color: #6f7b97;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.images a {
   
    text-decoration: none;
    color: #086fff;
}

/*fine section:images*/

/*third section*/
.third_section {
    text-align: center;
    padding: 25px;
}

.third_section h3 {
    color: #031d4e;
}

.third_section p {
    color: #5d6a88;
}

.third_section .menu li {
    display: block;
    text-align: left;
    padding: 5px 0;
    border-left: 1px solid #cccccc ;
    
}

.third_section .menu li a {
     color:#75809a;
     padding-left: 5px;
     
}

.third_section .wrapper {
    width: 80%;
    margin: 0 auto;
}

.third_section  p {
    padding-bottom: 50px;
}
.sub_col img {
    width: 18%;
}

.inner_content {
    width: 50%;
}
/*fine third section*/
/*FINE MAIN*/