body {
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 150px;
}

.header_nav {
    padding: 20px;
}

.header_nav .menu {
    list-style-type: none;
}

.header_nav .menu.central {
    padding-top: 6px;
}

.header_nav .menu li {
    display: inline-block;
}

.header_nav .menu li a {
    text-decoration: none;
    color:#0e2454;
    padding: 0 7px;
    font-size: 12px;
}



.header_nav li button {
    color: #086fff;
    border-color: #086fff;
}

.burger {
    color:#086fff ;
}