/*COMMON*/

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}
/*HEADER*/
.logo img {
    width: 150px;
}

.header_nav {
    padding: 15px;
}

 .menu {
    list-style-type: none;
    padding-left: 0;
}

.header_nav .menu.central {
    padding-top: 6px;
}

.menu li {
    display: inline-block;
}

.header_nav .menu li a {
    text-decoration: none;
    color:#0e2454;
    padding: 0 7px;
    font-size: 12px;
}

.header_nav li button {
    color: #086fff;
    border-color: #086fff;
}

.burger {
    color:#086fff ;
}

/*FINE HEADER*/

/*MAIN*/

.jumbo {
    background-image: url(../img/ms-jumbo.jpg);
}

.teaser {
    color: white;
  
}

.teaser h1 {
    font-size: 45px;
}

.jumbo .wrapper {
    padding: 50px 0;
    
    margin: 0 auto;
}

.form_custom {
    
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.form_custom button {
    width: 100%;
    background-color: #579aff;
    border: none;
}

.form_custom span {
    color: #086fff;
    
}
.form_custom span:nth-child(1) {
    text-decoration: underline;
}


.form_custom button.google {
    margin: 10px 0;
    background-color: white;
    color: #767676;
    border: none;
    box-shadow: 1px 1px 1px #767676;
}

/*section:images*/

.images .menu li  {
    
    width: calc((100% / 6) - 6px);
    padding: 20px 0;
}

@media all and (max-width:480px) {
    .images .menu li  {
    
        width: calc((100% / 2) - 6px);
        padding: 20px 0;
    }
}

.images {
    background-color: #f3f5f9;
    text-align: center;
    padding: 25px 0;
}

.images h3 {
    color: #6f7b97;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.images a {
   
    text-decoration: none;
    color: #086fff;
}

/*fine section:images*/

/*third section*/
.third_section {
    text-align: center;
    padding: 25px;
}

.third_section h3, .fourth_section h3, .fifth_section h3 {
    color: #031d4e;
}

.third_section p, .fourth_section p {
    color: #5d6a88;
}

.third_section .menu li {
    display: block;
    text-align: left;
    padding: 5px 0;
    border-left: 1px solid #cccccc ;
    
}

.third_section .menu li a {
     color:#75809a;
     padding-left: 5px;
     
}

.third_section .wrapper {
    width: 80%;
    margin: 0 auto;
}

.third_section  p {
    padding-bottom: 50px;
}
.sub_col img {
    width: 18%;
}

.inner_content {
    width: 50%;
}
/*fine third section*/

/*fourth section*/

.fourth_section {
    background-color: #f3f5f9;
    text-align: center;
    position: relative;
}

.text {
    padding-top: 40px ;
}
.fourth_section a {
    font-size: 20px;
    position: absolute;
    top: 250px;
}

.fourth_section img {
    padding: 60px 0;
    width: 600px;
    height: auto;
}

.fourth_section .menu li {
    border: 1px solid #086fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-bottom: 30px;
}

.fourth_section .menu li:first-child {
    background-color: #086fff;
}
/*fine fourth section*/

/*fifth section*/

.fifth_section {
    padding-top: 30px;
}

.fifth_section h3:first-child {
    text-align: center;
    padding-bottom: 30px;
}

.fifth_section img {
    width: 10%;
}

.fifth_section .inner_content {
    width: 100%;
}

.fifth_section .inner_content p:last-child {
    color: #086fff;
    padding-bottom: 30px;
}

/* fine fifth section*/

/*settima sezione*/

.seventh img {
    width: 50%;
    height: auto;
}

.fourth_section.seventh {
    text-align: center;
}
.inner_col {
    background-color: white;
    width: 60%;
    border-radius: 7px;
    padding-bottom: 15px;
}

.inner_col p:nth-last-child(1) {
    padding: 5px 0;
}

.inner_col span {
    color: #086fff;
    
}

.fourth_section.seventh a {
    font-size: 20px;
    position: absolute;
    top: 155px;
}

.fourth_section.seventh .menu {
    padding: 20px 0;
}

/*fine settima sezione*/

/*ottava sezione*/

.eight_section {
    background-image: linear-gradient(180deg, #0041bc, #01209b);
    text-align: center;
    padding: 40px 0;
}

.eight_section h2 {
    color: white;
    padding-bottom: 10px;
}

.eight_section button {
    color: #046dff;
    border-color: #046dff;
}

/*FIfNE MAIN*/